[submodule "lib/RF24"]
	path = lib/RF24
	url = https://github.com/maniacbug/RF24.git
[submodule "lib/Arduino-Makefile"]
	path = lib/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
